@import "../../../assets/bx-scss/mixins";
@import "../../../assets/bx-scss/base";

.bx--productDetails{
    
  .bx--addToCart {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    
    .bx--images {
      padding-left: 100px;
      padding-top: 20px;
      img {
        width: 600px;
        height: 500px;
        border: 2px solid $secondary-color-2;
      }
  
      &__sub {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        img {
          width: 100px;
          height: 100px;
          margin-left: 20px;
          border: 2px solid $primary-color;
        }
      }
    }
  
    .bx--productDesc {
      padding-left: 100px;
      padding-top: 50px;
  
      h2 {
        font-size: 20px;
        font-weight: 700;
        color: $primary-color;
      }
      h4 {
        font-size: 16px;
        font-weight: 700;
        color: $primary-color;
      }
      p {
        font-size: 12px;
        color: $primary-color;
        width: 400px;
      }
      .bx--productDesc__button{
        padding-top: 50px;
      }
    }
  }  
}

@include mobile{
  .bx--productDetails{  
    .bx--addToCart {    
      .bx--images {
        padding-left: 30px;
        img {
          width: 300px;
          height: 250px;
        }
        &__sub {
          img {
            width: 50px;
            height: 50px;
            margin-left: 10px;
          }
        }
      }
    
      .bx--productDesc {
        padding-left: 30px;
        padding-top: 30px;
    
        h2 {
          font-size: 16px;
        }
        h4 {
          font-size: 14px;
        }
        p {
          font-size: 10px;
          color: $primary-color;
          width: 300px;
        }
        .bx--productDesc__button{
          padding-top: 30px;
        }
      }
    }  
  }
}

