<div class="bx--footerCards">
<div class="bx--footerCards__logo">
<img src="../../../../assets/bx-logo/Logo.svg" alt="">
</div>
<div class="bx--footerCards__cards">
<h5>Navigate</h5>
<p>Home</p>
<p>Contact</p>
<p>Cart</p>
<p>About US</p>
</div>
<div class="bx--footerCards__cards">
    <h5>Help</h5>
    <p>Payment</p>
    <p>Shipping</p>
    <p>FAQ</p>
    <p>Cancellation</p>
</div>
<div class="bx--footerCards__cards">
    <h5>Policy</h5>
    <p>Privacy Policy</p>
    <p>Cancellation & Return</p>
    <p>Security</p>
    <p>Terms of Use</p>
    <p>Sitemap</p>
</div>
<div class="bx--footerCards__social">
    <h5>Connect with US</h5>
    <img src="../../../../assets/bx-icons/ic_baseline-facebook.svg" alt="">
    <img src="../../../../assets/bx-icons/ri_instagram-fill.svg" alt="">
    <img src="../../../../assets/bx-icons/utube.svg" alt="">
    <img src="../../../../assets/bx-icons/akar-icons_x-fill.svg" alt="">
    <div class="payments">
        <img src="../../../../assets/bx-icons/Group 13.svg" alt="">
        <img src="../../../../assets/bx-icons/Group 14.svg" alt="">
        <img src="../../../../assets/bx-icons/Group 15.svg" alt="">
        <img src="../../../../assets/bx-icons/Group 16.svg" alt="">
        </div>
</div>
</div>