<app-bx-header></app-bx-header>

<div class="bx--loginForm">
  <h1>LOGIN</h1>
  <form [formGroup]="loginForm">
    <div>
      <app-bx-input
        [placeholder]="'Email/Phone Number'"
        [formControlName]="'email'"
        [class]="'bx--input bx--input__login'"
      ></app-bx-input>
    </div>
    <div>
      <app-bx-input
        [type]="'password'"
        [placeholder]="'Password'"
        [formControlName]="'password'"
        [class]="'bx--input bx--input__login'"
      ></app-bx-input>
    </div>
  </form>
  <app-bx-button
    [class]="'bx--btn bx--btn__login'"
    [text]="'Login'"
    (buttonClick)="login()"
  ></app-bx-button>
  <app-bx-button 
  [class]="'bx--btn bx--btn__cancel'" 
  [text]="'Cancel'">
  </app-bx-button>
  <div>
   <span>Forgot Password ?</span> 
  </div>
</div>

<app-bx-footer></app-bx-footer>
