<div class="bx--banner">
  <div
    id="carouselExampleAutoplaying"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
       
        <div class="bx-image__container">
            <img
           src="../../../../assets/bx-images/fashion.svg"
           class="d-block w-100"
           alt="..."
         /> 
         <div class="bx--img--caption1">
         <h1>BLACK FRIDAY</h1>
         <p>We know how large objects will act, but things on a 
             small scale just do not act that way.</p>
         <button>Shop Now</button>
         </div>
         </div>
      </div>
      <div class="carousel-item">
        <div class="bx-image__container">
         <img
          src="../../../../assets/bx-images/models.svg"
          class="d-block w-100"
          alt="..."
        />
        <div class="bx--img--caption2">
            <h1>FIND CLOTHES THAT MATCHES YOUR STYLE</h1>

            <button>Shop Now</button>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="bx-image__container">
           <img
          src="../../../../assets/bx-images/blackFiriday.svg"
          class="d-block w-100"
          alt="..."
        /> 
        <div class="bx--img--caption3">
            <h1>SUMMER COLLECTION</h1>
            <p>We know how large objects will act, 
                but things on a small scale.</p>
            <button>Shop Now</button>
            </div> 
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev custom-carousel-btn "
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon btn btn-outline-success" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon btn btn-outline-success" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
