@import "../../../../assets/bx-scss/mixins";
@import "../../../../assets/bx-scss/base";

.bx--input {
  border: 1px solid $primary-color;
  background: #fff;
  background-position: right 10px center;
  background-repeat: no-repeat;
  

  &__search{
    width: 500px;
    height: 40px;
    padding-left: 20px;
  }
  &__login{
    width: 500px;
    height: 40px;
    padding-left: 20px;
    margin-top: 20px;
  }
  &__edit{
    width: 300px;
    height: 40px;
    padding-left: 20px;
    margin-top: 20px;
    font-size: 14px;
  }
}


@include mobile{
  .bx--input {
    &__search{
      width: auto;
      height: 40px;
      padding-left: 20px;
    }
    &__login{
      width: auto;
      height: 40px;
      padding-left: 20px;
      margin-top: 20px;
    }
  }
}

@include tablet{
  .bx--input {
    &__search{
      width: auto;
      height: 40px;
      padding-left: 20px;
    }
    &__login{
      width: auto;
      height: 40px;
      padding-left: 20px;
      margin-top: 20px;
    }
  }
}